*.pem

# Node modules
node_modules/
TD5/scripts/sample-app/node_modules/
TD4/scripts/sample-app/node_modules/

# Terraform state
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.terraform/

# Environment files
.env
.env.local
*.tfvars
!*.tfvars.example

